[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ivus = {editable = true,path = "."}

[packages]
keras = "==2.2.0"
scikit-image = "*"
hyperopt = "*"
python-dotenv = "*"
sklearn = "*"
ivus = {editable = true,path = "."}
tensorflow-gpu = "==1.9.0"
pyspark = "*"
pandas = "*"

[requires]
python_version = "3.8"
